 /* navigation bar */
 nav {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* allows navigation bar to fit the size of screen*/
.nav-list {
	list-style: none;
	display: flex;
}
/* controles pages on nav bar*/
.nav-item {
	color: #0D2C63;
	text-decoration: none;
	font-family: Georgia;
	padding: 20px;
	display: flex;
	align-items: center;
	font-size: 16px;
}
/* when you are hovering over the nav bar links it turns it blue*/
.nav-item:hover {
	color: navy;
}
/*this is the RM logo on the top left corner -> this determines the size*/
#main-logo {
        height: 40px;
}
/* this refers to the linkedin logo size */
.nav-logo {
        height: 20px;
        width: 20px;
}
.welcome {
	box-sizing: border-box;
    font-family: Georgia;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
    padding: 2%;
    display: flex;
	background-image: url('https://media.istockphoto.com/id/493476120/vector/abstract-blue-watercolor-background.jpg?s=612x612&w=0&k=20&c=s7ClCSwrGl07JjolpP-0dfNdmHvN16qHr5xPlntCMnQ=');
	background-size: cover;
    background-color: #0D2C63;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* this is that white bar on the side of my name */
.welcome h1{
    text-align: center;
    padding-left: 20px;
    size: 104%;
    width: 80%;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    margin-top: 2%;
}

.left-column {
    width: 30%;
    padding-left: 5%;
    position: relative;
}

.background {
    display: block;
    height: 100%;
    opacity: 0;
}

.circle {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #0D2C63;
}
  
  .circle img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
  }
  
.right-column {
    width: 70%;
    margin-right: 5%;
    margin-left: 5%;
    background-color:#0D2C63;
}

.right-column p {
    font-family: Georgia;
    color: #ffffff;
    font-size: 18px;
    padding-right: 5%;
    padding-left: 5%;
    line-height: 1.5;
}
  
.image-container {
    position: relative;
}
  
  

  