
/* WELCOME SECTION */

/* This sets the background of the main section to the blue digital background. */
.welcome {
  background-image: url('../Images/HomePage/home-background.jpeg');
  background-size: 100% 100%;
  max-width: 100vw;
  height: 70vh;
  text-align: center;
}


.text{
  display: inline-block;
  color: white;
  padding-top: 5%;
  font-size: 72px;
  overflow: hidden; /* hide overflow */
  white-space: nowrap; /* prevent line breaks */
  letter-spacing: 0.08gem; /* increase spacing between letters */
  animation: typing 3s steps(30, end);
}


@keyframes typing {
from { width: 0 }
to { width: 100% }
}
  
/* NAVIGATION BAR */

/* Setting the logos (RM and linkedin to the according size) */
body {
  font-family: 'Inter', sans-serif;
}
#RM-logo {
  height: 50px;
}

/* design elements for navigation bar */
nav {
  margin-left: 5vh;
  width: 92.5vw;
  height: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* allows navigation bar to fit the size of screen*/
.nav-list {
  list-style: none;
  align-items: center;
  display: flex;
}

/* controles pages on nav bar*/
.nav-item  {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding-left: 5vw;
  
}

/* SPACER */
.spacer {
  height: 10vh;
  
