@font-face {
  font-family: 'comic sans ms';
  src: url('path/to/comic-sans-ms.ttf') format('truetype');
}
/* navigation bar */
nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-list {
	list-style: none;
	display: flex;
}
.nav-item {
	color: black;
	text-decoration: none;
	font-family: Georgia;
	padding: 20px;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.nav-item:hover {
	color: navy;
}

#main-logo {
        height: 40px;
}
.nav-logo {
        height: 20px;
        width: 20px;
}

.Welcome {
	box-sizing: border-box;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10%;
	background-image: url('https://media.istockphoto.com/id/493476120/vector/abstract-blue-watercolor-background.jpg?s=612x612&w=0&k=20&c=s7ClCSwrGl07JjolpP-0dfNdmHvN16qHr5xPlntCMnQ=');
	background-size: cover;
}
h1, h5 {
	color: white;
	font-family: Georgia; 
}




