@font-face {
  font-family: 'comic sans ms';
  src: url('path/to/comic-sans-ms.ttf') format('truetype');
}

.navbar {
	display: flex;
	/*justify-content: flex-end;*/
}

h1, h5 {
	color: navy;
	font-family: comic sans ms, sans-serif; 
}

.navbar a{
	color: black;
	text-decoration: none;
	font-family: Georgia;
}

.logo {
	height: 20px;
	width: 20px;
}


