@font-face {
  font-family: 'comic sans ms';
  src: url('path/to/comic-sans-ms.ttf') format('truetype');
}


// navigation bar
.navbar {
	display: flex;
}
.nav-list {
	justify-content: flex-end;
}
.navbar a{
        color: black;
        text-decoration: none;
 	font-family: Georgia;
}

h1, h5 {
	color: navy;
	font-family: comic sans ms, sans-serif; 
}

.main-logo {
	height 30px;
	width: 30px;
}
.logo {
	height: 20px;
	width: 20px;
}


