/* Projects Section Styling */
.projects-section {
  background-color: #E9E4EA;
  padding: 50px 20px; /* Reduced side padding for smaller screens */
  text-align: center;
}

.projects-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: 'Itim', sans-serif;
  color: #412131;
}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  grid-gap: 50px; /* Space between cards */
  justify-content: center;
  align-items: center;
}

/* Project Card */
.project-card {
  overflow: hidden; /* Ensure the content stays within the card */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb); */
  transition: transform 0.3s ease-in-out;
  position: relative;
  padding-bottom: 20px;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Project Image Container */
.project-image-container {
  position: relative;
}

.project-image {
  width: 100%;
  object-fit: cover; /* Ensure the image covers the area */
  display: block;
}

/* Hover Overlay */
.project-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-hover-overlay {
  opacity: 1; /* Show overlay on hover */
}

.project-name {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

/* Mobile-Friendly Adjustments */
@media (max-width: 1024px) {
  .projects-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
      grid-gap: 30px; /* Reduce gap between cards */
  }

  .projects-title {
      font-size: 3rem; /* Adjust title size for tablets */
  }

  .project-card {
      padding-bottom: 15px;
  }

  .project-name {
      font-size: 3rem; /* Adjust name size for tablets */
  }
}

@media (max-width: 768px) {
  .projects-grid {
      grid-template-columns: 1fr; /* Single column for small screens */
      grid-gap: 20px; /* Further reduce gap between cards */
  }

  .projects-title {
      font-size: 3rem; /* Adjust title size for mobile */
  }

  .project-card {
      padding-bottom: 10px;
  }

  .project-name {
      font-size: 3rem; /* Adjust name size for mobile */
  }
}
