/* Statistics Section Styling */
.statistics-section {
  background-color: #E9E4EA; /* Light background */
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px; /* Larger gap between cards */
  max-width: 1400px; /* Increased width for a bigger layout */
  width: 100%;
}

.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px; /* Increased width */
  height: 250px; /* Increased height to maintain a square */
  border-radius: 15px; /* Optional: Slightly more rounded corners */
  color: #ffffff;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Slightly bigger shadow for a more defined effect */
  transition: transform 0.3s ease-in-out;
}

/* .stat-card:hover {
  transform: scale(1.1); /* Slightly larger hover effect 
} */

.stat-value {
  font-size: 3rem; /* Increased font size */
  font-weight: bold;
  margin-bottom: 15px;
}

.stat-label {
  font-size: 2.5rem;
  font-family: 'Itim', sans-serif;
}

@media (max-width: 768px) {
  .stat-card {
    width: 120px;
    height: 120px;
  }
}